<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isContinue">
  <div fxLayout="row" fxLayoutAlign="center center">
    <form #continueForm="ngForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">Create New Client Admin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Select Client ID" (selectionChange)="changeClient($event.value)"
                        [(ngModel)]="user.ClientId" name="ClientId" required>
              <mat-option *ngFor="let client of clients" [value]="client.id">
                {{client.id}} /  {{client.clientName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h3 *ngIf="selectedClient" class="sucess">Cient Name : {{ selectedClient.clientName}}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onAddContinue();" color="primary"  [disabled]="continueForm.invalid">Continue</button>
      </mat-card-actions>
    </mat-card>
    </form>
  </div>
</div>


<div fxLayout="column" fxLayoutAlign="center center" *ngIf="isContinue">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">Create New Client Admin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #newClientAdminForm="ngForm">
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="First Name"
                [(ngModel)]="user.firstName"
                name="firstname"
                #firstnameRef="ngModel"
                required>
              <mat-error *ngIf="firstnameRef?.errors?.required">First Name must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                [(ngModel)]="user.lastName"
                name="lasttname"
                #lasttnameRef="ngModel"
                required>
              <mat-error *ngIf="lasttnameRef?.errors?.required">Last Name must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="user.email"
                name="email"
                #emailRef="ngModel"
                email
                required>
              <mat-error *ngIf="emailRef?.errors?.required">Email must be required.</mat-error>
              <mat-error *ngIf="emailRef?.errors?.email">Please enter valid email.</mat-error>
            </mat-form-field>
          </div>
          <mat-error *ngIf="isError">Email must be unique.</mat-error>
          <p *ngIf="createSuccess">Vyakar admin create successfuly. Please verify identity from email</p>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onAdd(securityService.userData.ClientId);newClientAdminForm.reset();" color="primary"
                [disabled]="newClientAdminForm.invalid">Craete New Client Admin
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
