<mat-card>
  <mat-card-header>
    <mat-card-title color="primary"> Edit New Vyakar Admin</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #newClientAdminForm="ngForm">
      <div fxLayout="row">
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            [(ngModel)]="user.firstName"
            name="firstname"
            #firstnameRef="ngModel"
            required>
          <mat-error *ngIf="firstnameRef?.errors?.required">First Name must be required.</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            [(ngModel)]="user.lastName"
            name="lasttname"
            #lasttnameRef="ngModel"
            required>
          <mat-error *ngIf="lasttnameRef?.errors?.required">Last Name must be required.</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="user.email"
            name="email"
            #emailRef="ngModel"
            email
            required>
          <mat-error *ngIf="emailRef?.errors?.required">Email must be required.</mat-error>
          <mat-error *ngIf="emailRef?.errors?.email">Please enter valid email.</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onAdd();" class="add-btn" color="primary"
            [disabled]="newClientAdminForm.invalid">Save
    </button>
    <button mat-raised-button (click)="dialogRef.close();" class="add-btn" color="warn">Canel</button>
  </mat-card-actions>
</mat-card>
