<app-menu [userData]="securityService.userData"></app-menu>
<app-header [userData]="securityService.userData">
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</app-header>
<notifier-container></notifier-container>
