<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <form #login="ngForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title color="primary">Impersonate Login</mat-card-title>
        </mat-card-header>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select placeholder="Select Client ID" (selectionChange)="changeClient($event.value)"
                        [(ngModel)]="ClientId" name="ClientId" required>
              <mat-option *ngFor="let client of clients" [value]="client.id">
                {{client.id}} / {{client.clientName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-select placeholder="Select User"
                        [(ngModel)]="userData" name="ClientId" name="ClientName" required>
              <mat-option *ngFor="let user of users" [value]="user.email">
                {{user.firstName}} {{user.lastName}} - {{ user.role === 1 ? 'Admin' : 'user' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-card-content>
        </mat-card-content>
        <mat-error *ngIf="invalidLogin">Please enter valid credentials.</mat-error>
        <mat-card-actions>
          <button mat-raised-button (click)="onLogin();" class="logout" color="primary"
                  [disabled]="login.invalid">Login as selected user
          </button>
        </mat-card-actions>
        </mat-card>
    </form>
  </div>
</div>
