<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary"> Create New Vyakar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #newVyakarForm="ngForm">
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="First Name"
                [(ngModel)]="user.firstName"
                name="firstName"
                #firstnameRef="ngModel"
                required>
              <mat-error *ngIf="firstnameRef?.errors?.required">First Name must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                [(ngModel)]="user.lastName"
                name="lastName"
                #lasttnameRef="ngModel"
                required>
              <mat-error *ngIf="lasttnameRef?.errors?.required">Last Name must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="user.email"
                name="email"
                #emailRef="ngModel"
                email
                required>
              <mat-error *ngIf="emailRef?.errors?.required">Email must be required.</mat-error>
              <mat-error *ngIf="emailRef?.errors?.email">Please enter valid email.</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onAdd();newVyakarForm.reset()" color="primary"
                [disabled]="newVyakarForm.invalid">Craete New Vyakar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
