
.vs-table {
  padding: 10px;
}

.vk-filter {
  margin-left: 20px;
  width: 300px;
}

table {
  width: 100%;
}

mat-card {
  max-width: 400px;
  margin-top: 60px;
}

mat-card mat-form-field {
  width: 300px;
}

.mat-raised-button {
  width: 350px;
}

.mat-raised-button .add-btn {
  width: 350px;
}

.vs-title {
  padding: 0px 30px 20px 30px;
}

h3 button {
  float: right;
}

mat-icon {
  cursor: pointer;
}
