<h3 class="vs-title">
  <button mat-raised-button color="primary" class="btn-add" routerLink="/creatclientadmin">
    <fa name="plus"></fa>
    Create New Admin
  </button>
  <span>Admin List</span>
</h3>

<div class="vs-table">
  <div class="mat-elevation-z8">
    <mat-form-field class="vk-filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="ClientId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client ID</th>
        <td mat-cell *matCellDef="let element"> {{element.ClientId}}</td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let row" (click)="onDelete(row)">
          <mat-icon color="warn">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let row" (click)="openDialog(row)">
          <mat-icon color="primary">edit</mat-icon>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="forgotpassword">
        <th mat-header-cell *matHeaderCellDef> Reset Password</th>
        <td mat-cell *matCellDef="let row" (click)="onResetPassword(row)">
          <mat-icon color="primary">replay</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
