<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">Change Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #changePassword="ngForm">
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Current Password"
                [(ngModel)]="passwordData.currentPassword"
                type="password"
                name="currentPassword"
                #currentPasswordRef="ngModel"
                required>
              <mat-error *ngIf="currentPasswordRef?.errors?.required">Current Password must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="New Password"
                [(ngModel)]="passwordData.newPassword"
                type="password"
                name="newPassword"
                #newPasswordRef="ngModel"
                required>
              <mat-error *ngIf="newPasswordRef?.errors?.required">New Password must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Confirm New Password"
                [(ngModel)]="passwordData.confirmNewPassword"
                type="password"
                name="confirmNewPassword"
                #passwordRef="ngModel"
                [confirmPassword]="newPasswordRef.value"
                required>
              <mat-error *ngIf="passwordRef?.errors?.required">Confirm New Password must be required.</mat-error>
              <mat-error *ngIf="passwordRef?.errors?.confirmPassword">New password do not match .</mat-error>
            </mat-form-field>
          </div>
          <mat-error *ngIf="passwordNotValidat">Old password is incorrect.</mat-error>
          <p *ngIf="passwordChanged" class="sucess">Password Chnaged successfully.</p>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onchangePassword();changePassword.reset();" color="primary"
                [disabled]="changePassword.invalid">Change Password
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
