<mat-toolbar color="primary" *ngIf="['/login','/vyakarlogin'].includes(router.url) || router.url.includes('createNewPassword')
">
  Vyakar
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="!['/login','/vyakarlogin'].includes(router.url) ">Vyakar
  <p>My Name is : {{userData?.firstName + ' ' + userData?.lastName}}</p>
  <p>Role: {{ userData?.role === 3 ? 'Vyakar Admin' : userData?.role === 1 ? 'Client Admin' : 'Client User' }}</p>
  <p><a routerLink="/changepassword">Change Password</a></p>
  <button mat-button color="accent" class="logout" (click)="logout()">
    <fa name="sign-out"></fa>
    Logout
  </button>
</mat-toolbar>
