<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isContinue">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">Create New Client Admin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-select placeholder="Select Client ID" (selectionChange)="changeClient($event.value)"   [(ngModel)]="user.ClientId" name="ClientId">
              <mat-option *ngFor="let client of clients" [value]="client.id">
                {{client.id}} /  {{client.clientName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h3 *ngIf="selectedClient" class="sucess">Cient Name : {{ selectedClient.clientName}}</h3>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onAddContinue();" color="primary">Continue</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div fxLayout="column" fxLayoutAlign="center center" *ngIf="isContinue">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">UMS | Create New Client User</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #newClientUserForm="ngForm">
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="First Name"
                [(ngModel)]="user.firstName"
                name="firstname"
                #firstnameRef="ngModel"
                required>
              <mat-error *ngIf="firstnameRef?.errors?.required">First Name must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                [(ngModel)]="user.lastName"
                name="lasttname"
                #lasttnameRef="ngModel"
                required>
              <mat-error *ngIf="lasttnameRef?.errors?.required">Last Name must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="user.email"
                name="email"
                #emailRef="ngModel"
                email
                required>
              <mat-error *ngIf="emailRef?.errors?.required">Email must be required.</mat-error>
              <mat-error *ngIf="emailRef?.errors?.email">Please enter valid email.</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onAdd(securityService.userData.ClientId);newClientUserForm.reset();" color="primary"
                [disabled]="newClientUserForm.invalid">Craete New Client User
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
