<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #login="ngForm">
          <div fxLayout="row" *ngIf="this.router.url === '/login'">
            <mat-form-field>
              <input
                matInput
                placeholder="Client ID"
                [(ngModel)]="loginData.ClientId"
                name="clientid"
                #clientidRef="ngModel"
                required>
              <mat-error *ngIf="clientidRef?.errors?.required">ClientID must be required.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="loginData.email"
                name="email"
                #emailRef="ngModel"
                email
                required>
              <mat-error *ngIf="emailRef?.errors?.required">Email must be required.</mat-error>
              <mat-error *ngIf="emailRef?.errors?.email">Please enter valid email.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                [(ngModel)]="loginData.password"
                type="password"
                name="password"
                #passwordRef="ngModel"
                required>
              <mat-error *ngIf="passwordRef?.errors?.required">Password must be required.</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-error *ngIf="invalidLogin">Please enter valid credentials.</mat-error>
      <mat-card-actions>
        <button mat-raised-button (click)="onLogin();login.reset();" class="logout" color="primary"
                [disabled]="login.invalid">Login
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
