<mat-card>
  <mat-card-header>
    <mat-card-title color="primary">Delete Confirmation</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>Are you want to sure delete {{data.firstName}} {{data.lastname}} ?</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onDelete();" class="add-btn" color="warn">Delete</button>
    <button mat-button (click)="onCancel();" class="add-btn" color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>

