<mat-card>
  <mat-card-header>
    <mat-card-title color="primary">Reset Password Link</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>Reset Password link sent on <b>{{data.email}}</b></h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onResetPassword();" class="add-btn" color="primary">Send Reset Password Link
    </button>
    <button mat-button (click)="onCancel();" class="add-btn" color="primary">Cancel</button>
  </mat-card-actions>
</mat-card>

