<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened
               *ngIf="!(['/login','/vyakarlogin'].includes(router.url) || router.url.includes('createNewPassword')) ">
    <mat-toolbar>
      <mat-toolbar-row *ngIf="userData?.role === 3">
        <span routerLink="/vyakarlist">Vyakar</span>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="userData?.role === 3 || userData?.role === 1">
        <span routerLink="/clientadminlist">Client Admin</span>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="userData?.role === 3 || userData?.role === 1">
        <span routerLink="/clientuserlist">User Client</span>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="userData?.role === 3">
        <span routerLink="/impersonate">Impersonate Login</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <ng-content></ng-content>
</mat-sidenav-container>
