<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isSetForgotPassword">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">UMS | Set New Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #forgotPasswordForm="ngForm">
          <div fxLayout="row">
            <mat-form-field>
              <input
                matInput
                placeholder="Enter Password"
                [(ngModel)]="forgotPassword"
                type="password"
                name="forgotPassword"
                #forgotPasswordRef="ngModel"
                required>
              <mat-error *ngIf="forgotPasswordRef?.errors?.required">Password must be required.</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onForgotPasswordPassword();forgotPasswordForm.reset();" color="primary"
                [disabled]="forgotPasswordForm.invalid">Change Password
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="isSetForgotPassword">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h4 class="sucess"> {{ userdata.firstName }} {{userdata.lastName}} your password set successfully.Now you can login
      with your credentials. </h4>
  </div>
</div>
